/*폰트*/
@font-face{
    font-family:"NANUMGOTHIC";
    src:url(/font/NANUMGOTHIC.eot);
    src:url(/font/NANUMGOTHICBOLD.eot);
}
.tit{
    background:url(/images/sk_planet/aside_list/bul_black_line.gif);
    background-repeat:no-repeat;
    background-position:0% 100%;
    padding-bottom:30px;
}
}
body{
    font-family:"NANUMGOTHIC","NANUMGOTHICBOLD","APPLE SD Gothic NEO", "Dotum", "돋움",sans-serif;
}
.bottom_bul{
    background:url(/images/sk_planet/aside_list/bul_black_line.gif);
    background-repeat:no-repeat;
    background-position:0% 100%;
    padding-bottom:30px;
}
a{
    color:inherit;
    text-decoration:none;
}
.clearfix:after {
    content:'';
    display:block;
    clear:both;
}
#body_wrap{
    width:1280px;
    height:auto;
    margin:0 auto;
    
}
header{
   margin-top:0px;
    position:relative;
    width:100%;
    height:100px;
    background-color:rgba(255,255,255,0.8);
    z-index:9;
}
header h1{
    float:left;
    margin-top:15px;

    
}
header h1 img{
    width:118px;
}
/*서브리스트*/
/*수정*/
header .sub_box{
    width:1280px;
    margin:0 auto;
}

header .sub_list{
    float:right;
}
header .sub_list li{
    float:left;
    position:relative;
    padding:5px;
    
}
header .sub_list li+li:not(.img_list):before
{
    content:'';
    position:absolute;
    left:0;
    top:0.6em;
    width:0.1em;
    height:0.7em;
    background-color:#999;
    
}
header .sub_list a{
    display:block;
    text-transform:capitalize;
    
}
/*메인메뉴*/
header .main_menu{
    width:100%;
    height:100px;
    position:absolute;
}
header .main_list{
   position:relative;
    max-width:882px;
    text-align:center;
    margin-left:636px;
    top:23px;
}
header .main_list>li
{
    float:left;
    width:20%;
}

header .main_list a{
    display:block;
    padding:30px;
}
header .under_inner{
   width:1800px;
    height:65px;
    position:absolute;
    background-color:rgb(70,70,70);
    top:100px;
    display:none;
    
}
header .under_list{
  
    min-width:220px;
    height:66px;
    position:absolute;
    background-color: transparent;
    text-align: center;
    color:white;
    display:none;
}
header .under_list li{
    float:left;
    
}
header .under_list li a{
    display:block;
    padding:25px;
      transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
}
header .under_list li a:hover{
    background-color:rgb(234,0,24);
    
    
    
}

main{
    width:1280px;
    height:auto;
    z-index:1;
}

footer{
    width:1280px;
    height:123px;
    position:relative;
    border-top:3px solid #999;
    clear:both;
    margin-top:70px;
}
footer h2{
    float:left;
    padding:20px;

}

footer .footer_box_wrap{
    width:450px;
    position:absolute;
    left:110px;
    padding:10px;
}
footer .footer_menu{  
}

footer .footer_menu li{
    float:left;
}
footer .footer_menu a{
    padding:10px 10px 10px 0;
    display:block;
}
footer .address{
    display:block;
}
footer .other_address{
    float:right;
    padding:10px;
    
}
footer .other_address ul{
    
}
footer .other_address li{
    float:left;
    padding:10px;
}
foorte .other_address li a{
   display:block;
}