/*전체 적용*/
article h3{
    display:none;
}
/*데이터 타이틀*/
.data_box{
    width:750px;
    margin-left:360px;
}
.data_tit{
    padding-bottom:30px;
}
.data_tit h3{
    margin-top:50px;
}
.data_tit p{
    margin-top:20px;
    font-size:1.2em;
}
.data_tit strong{
    color:rgb(255,122,0);
}
/*빅데이터 기반 분석기술*/
.data_content1{
    margin:20px 0;
}
.data_txt1{
    width:600px;
    margin-left:150px;
}

.data_content1 dt{
    font-size:1.3em;
}
.data_content1 dd{
    color:rgb(119,119,119);
    margin-top:20px;
    font-size:0.8em;
    line-height:1.5em;
}
/*빅데이터 버튼*/
.lecopic_btn {
    position:relative;
   margin-top:20px; background:url("http://www.skplanet.com/images/kor/common/btn/btn_basic_left.gif");
    background-repeat:no-repeat;
    background-position:0% 100%;
    width:5px;
    height:36px;
    left:
    
}
.lecopic_btn a{
    display:block;
    background:url("http://www.skplanet.com/images/kor/common/btn/btn_basic_right.gif");
    background-repeat:no-repeat;
    background-position:100% 0;
    background-size:auto auto;
    width:160px;
    height:40px;
    line-height:30px;
    font-size:0.8em;
    position:absolute;
    left:5px;
}
.data_img{
    float:left;
}
/*차별화된 커머스 플랫폼 인프라 고도화*/
.data_content2{
    margin:20px 0;
}
.data_txt2{
    width:600px;
    margin-left:150px;
}

.data_content2 dt{
    font-weight:300;
    font-size:1.3em;
}
.data_content2 dd{
    color:rgb(119,119,119);
    margin-top:20px;
    font-size:0.8em;
    line-height:1.5em;
}