/*전체 콘텐츠*/
.point_box{
    width:710px;
    margin-left:360px;
}
/*포인트에 대한 설명*/
.marketing_box h3{
    margin-top:50px;
}

.marketing_box p{
    color:rgb(119,119,119);
}
.marketing_tit{
    background:url(/images/sk_planet/aside_list/bul_black_line.gif);
    background-repeat:no-repeat;
    background-position:0% 100%;
    padding-bottom:30px;
}
.marketing_tit p{
    margin-top:20px;
    font-size:1.3em;
    
}
.marketing_txt{
    margin:20px 0;
    line-height:1.3em;
    
}
/*캐시백 버튼*/
.cashbag_btn{
    width:710px;
   height:53px; 
    
}
.cashbag_on{
    background:url("http://www.skplanet.com/images/kor/service/bg_category_box_on.png");
    background-repeat:no-repeat;
}
.cashbag_off{
    background:url("http://www.skplanet.com/images/kor/service/bg_category_box_off.png");
    background-repeat:no-repeat;
}
.cashbag_minus{
    display:block;
  background:url("http://www.skplanet.com/images/kor/service/btn_minus.gif");
    background-repeat:no-repeat;
    background-position:98% 50%;
   height:53px; 
    padding-left:20px;
    position:relative;
}
.cashbag_plus{
    display:block;
  background:url("http://www.skplanet.com/images/kor/service/btn_plus.gif");
    background-repeat:no-repeat;
    background-position:98% 50%;
   height:53px; 
    padding-left:20px;
    position:relative;
}
.cashbag_btn span:nth-child(1){
   position:absolute;
    top:15px;
    
}
.cashbag_btn span:last-child{
    position:absolute;
    left:150px;
    top:17px;
}
.txt_none{
    display:none;
}
/*캐쉬백에 대한 설명*/
.cashbag_txt{
    width:710px;
}
.cashbag_logo{
    float:left;
    width:175px;
    height:125px;
    padding:20px 0;
    text-align:center;
}
.cashbag_cont{
    float:right;
    width:505px;
    height:270px;
    margin-top:20px;
}
.cashbag_cont img{
    margin-bottom:10px;
}
.cashbag_cont p{
    color:rgb(119,119,119);
    font-size:0.9em;
    line-height:1.5em;
    
}
/*캐쉬백 버튼*/
.basic_btn {
    
   margin-top:20px; background:url("http://www.skplanet.com/images/kor/common/btn/btn_basic_left.gif");
    background-repeat:no-repeat;
    background-position:0% 100%;
    width:5px;
    height:36px;
    position:relative;
}
.basic_btn a{
    display:block;
    background:url("http://www.skplanet.com/images/kor/common/btn/btn_basic_right.gif");
    background-repeat:no-repeat;
    background-position:100% 0;
    background-size:auto auto;
    width:160px;
    height:40px;
    line-height:30px;
    font-size:0.8em;
    position:absolute;
    left:5px;
}