/*서브메뉴*/
aside{
    float:left;
    width:250px;
    height:567px;
    padding-top:30px;
}
aside .sk_up_list li{
    border-bottom:1px solid #999;
}
aside .sk_up_list a{
    display:block;
    padding:15px 0 15px 20px;
}
aside .d_list li:first-child{
    padding:18px 20px;
}
/*경로*/
.small_list{
    height:50px;
    margin-left:350px;
}
.small_list li{
    float:left;
    padding:30px 15px 0;
   
}
.small_list li+li{
 background:url("http://www.skplanet.com/images/kor/common/bul/bul_location.png");
    background-repeat:no-repeat;
    background-size:auto;
    background-position:0px 36px;
}
